$white: #e6e6e6;
$bgcolor: rgba(34, 35, 38, 1);
$subcolor1: rgba(174, 176, 183, 1);
$subcolor2: rgba(136, 137, 140, 1);
$brandcolor: rgba(230, 138, 0, 1);
$starcolor:#966016;

$size1-min:0.938em;
$size1-max:1.875em;
$size2-min:0.338em;
$size2-max:1em;

@mixin responsive-font-size($min-font-size, $max-font-size, $min-screen-width, $max-screen-width, $font-size-step: 0.1em) {

    font-size: $max-font-size;
    @media all and (max-width: $min-screen-width) {
        font-size: $min-font-size;
    }

    @if $font-size-step <= 0 {
        @warn "parameter to responsive-font-size: font-size-step must be greater than 0";
    }
    @else {
        $min-scale-factor: $min-font-size / $min-screen-width / 1em * 1px;
        $max-scale-factor: $max-font-size / $max-screen-width / 1em * 1px;

        $screen-width: round($max-screen-width);
        $font-size: $max-font-size;

        @while $screen-width >= $min-screen-width {

            $progress: ($screen-width - $min-screen-width) / ($max-screen-width - $min-screen-width);
            $scale-factor: $min-scale-factor + $progress * ($max-scale-factor - $min-scale-factor);

            $font-size: $screen-width * $scale-factor / 1px * 1em;

            @media all and (max-width: $screen-width) {
                font-size: $font-size;
            }

            $screen-width-step: $font-size-step / $scale-factor / 1em * 1px;
            @if $screen-width-step < 1px {
                $screen-width-step: 1px;
            }

            $screen-width: round($screen-width - $screen-width-step);
        }
    }
}


@font-face {
    font-family: 'open_sansbold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




body {
    font-family: open_sansregular;
    background-color: $bgcolor;
    color: $white;
    .modal-open {
    overflow: hidden;
    }


}



/* Nav */

.glyphicon-headphones {
  color: $brandcolor;
  
}

.navbar-brand {
    text-transform: uppercase;
    @include responsive-font-size ($size1-min, $size1-max * 0.8, 640px, 1200px, 0.3em);
}

.navbar-default {
    background-color: transparentize($subcolor1, 0.9);
    border-color: transparentize($subcolor1, 0.9);
    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: transparentize($subcolor1, 0.9);
    }
    .navbar-nav>li>a:hover {
    background-color: transparentize($brandcolor, 0.8) !important;
    }
    .navbar-nav>.active>a , .navbar-nav>.active>a:hover , .navbar-nav>.active>a:focus {
        background-color: transparentize($brandcolor, 0.4) !important;
    }
}

.btn-default {
    width:100%;
}

/* Form */

.row-no-padding {
  margin-left: 0;
  margin-right: 0;
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.procura:focus {
    border-bottom: solid 2px $brandcolor !important;
}

.procura {
    background-color: inherit;
    color: $white;
    border: none;
    font-family: open_sansregular, FontAwesome;
    border-bottom: solid 2px transparentize($brandcolor, 0.4) !important;
    
}


/* List */



.list {
    tr{
            
            th{
                font-family: open_sansbold;    
                color: $subcolor2;
                @include responsive-font-size ($size2-min + ($size2-min/10), $size2-max + ($size2-max/10), 640px, 1200px, 0.3em);
                border-top: none !important;
                border-bottom: solid 1px transparentize($subcolor2, 0.9) !important;
                text-transform: uppercase;
            }
            td{     
                color: $white ;
                @include responsive-font-size ($size2-min, $size2-max, 640px, 1200px, 0.3em);
                border: none !important;
                border-bottom: solid 1px transparentize($subcolor2, 0.9) !important;
                padding-bottom:  1.4em !important;
            }
            
        }
    tr:hover{
        
        td{
            background: transparentize($subcolor1, 0.9);
        }
    }
}

.lista-adicionar {
  font-size: $size1-max * 1.3;
  position:absolute;
  margin-top: -5px;
  width:auto;
  height:auto;
  color: $starcolor;
  z-index:10;
}

.lista-remover {
  font-size: $size1-max * 1.3;
  position:absolute;
  margin-top: -5px;
  width:auto;
  height:auto;
  color: $starcolor;
  z-index:20;
}

/* Detail */

.sub {
    color: $subcolor2;
}


.glyphicon-chevron-left { 
    
    color: $brandcolor;

}

.btn-back { 
    
   
    cursor: pointer;

}

.detail-text {
    @include responsive-font-size ($size2-min * 2, $size2-max, 640px, 1200px, 0.3em);
}

.detail-adicionar {
  @include responsive-font-size ($size1-min * 2, $size1-max * 1.5, 640px, 1200px, 0.3em);
  position:absolute;
  right: 10px;
  width:auto;
  height:auto;
  color: $starcolor;
  z-index:10;
}

.detail-remover {
  @include responsive-font-size ($size1-min * 2, $size1-max * 1.5, 640px, 1200px, 0.3em);
  position:absolute;
  right: 10px;
  width:auto;
  height:auto;
  color: $starcolor;
  z-index:20;
}