<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><i class="glyphicon glyphicon-headphones"></i> Music List</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a>All <span class="sr-only">(current)</span></a></li>
        <li><a href="#/items/{{user}}/fav">Favorites</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logout</a></li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>


<div class="row-fluid">
  <div class="col-xs-12">
    <div class="form-group">
      <input type="text" class="form-control procura" id="search" placeholder="&#xF002; Search" ng-model="search">
    </div>
  </div>
  <div ng-show="showLoader" class="col-xs-12 text-center">
    <br>
    <br>
    <br>
    <br>
    <h2>Loading Data...</h2>
  </div>
  <div ng-show="showLoader" class="col-xs-12">
    <img src="img/loading.gif" width="50" class="center-block">
  </div>
  <div ng-show="showLoader" class="col-xs-12 text-center">
    <h3>Please wait a moment</h3>
  </div>
  <div class="col-xs-12">
    <table ng-hide="showLoader" class="table list">
      <tr>
        <th>Album</th>
        <th>Artist</th>
        <th>Track</th>
        <th>Favorite</th>
      </tr>
      <tr ng-repeat="item in lista | filter:search">

        <td ng-click="seeItem(item.id)">{{item.album}}</td>
        <td ng-click="seeItem(item.id)">{{item.artist}}</td>
        <td ng-click="seeItem(item.id)">{{item.track}}</td>

        <td>
          <div class="lista-adicionar" ng-click="favAdd(item.id,user.email)"><i class="glyphicon glyphicon-star-empty"></i></div>
          <div ng-repeat="z in favs">
            <div class="lista-remover" ng-click="favItem(item.id,user.email)" ng-if="item.id==z.id"><i class="glyphicon glyphicon-star"></i></div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>